
.container h3 {
  margin-bottom: 10px;
  color: #8050F2;
  font-size: 20px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.chatroom-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chatroom-list li a {
  display: block;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #fafafa;
  color: #80828f;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.chatroom-list li a:hover,
.chatroom-list li a.active {
  background-color: #8050F2;
  color: #fff;
  font-weight: bold;
}

.main-content {
  flex: 1;
}

.mini-profile {
  width: 45px;
  height: 45px;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  margin-bottom: 10px;
  background-color: #EDE8FF;
  border-radius: 50%;
}

.chat-info {
  flex-grow: 1;
}

.subBox {
  display: flex;
  padding: 10px;
}

.list-img {
  width: 50px;
  margin-right: 8px;
}

.list-chat {
  width: 100%;
}

.chat-name {
  font-weight: bold;
  color: #55555f;
}

.chat-preview {
  width: 300px;
  text-overflow : ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.not {
  opacity: 0.2;
}

.time {
  font-size: small;
  margin-top: 5px;
  margin-left: 25px;
  white-space: nowrap;
}