@import url("css/9_마라탕공주들_index.css");
@import url("css/9_마라탕공주들_chat_list.css");
@import url("css/9_마라탕공주들_chat_detail.css");
@import url("css/9_마라탕공주들_checklist.css");
@import url("css/9_마라탕공주들_history.css");
@import url("css/9_마라탕공주들_setting.css");


/* ----------------- 공통 ----------------- */
body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: #f5f5f5;
  padding-top: 80px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.logo img {
  width: 40%;
  min-width: 100px;
  margin-left: 100px;
}

.menu {
  display: flex;
  gap: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 12px 15px;
  transition: all 0.3s ease;
}

.menu li a:hover,
.menu li a.active {
  color: #fff;
  background-color: #8050f2;
  border-radius: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-left: 20px;
}

.search-container input[type="text"] {
  padding: 7px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-container button {
  padding: 7px 14px;
  border: none;
  background-color: #8050F2;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-container button:hover {
  background-color: #8050f2;
}

/* 링크 밑줄 제거 */
a {
  text-decoration: none;
}

/* 공통 반응형 */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  nav {
    padding: 0 20px;
  }
}
